:root {
    /* 定义主色调RGB值 */
    --mio-main: 255, 255, 255;
    /* 定义文本颜色RGB值 */
    --mio-text: 0, 0, 0;
    /* 定义主要颜色RGB值 */
    --mio-primary: 100, 209, 226;
    /* 定义次要颜色RGB值 */
    --mio-primary50: 63, 194, 214;
    /* 主色调透明度 */
    --mio-main-opacity: 0.2;
    /* 主题信息颜色 */
    --hope-colors-info9: rgba(var(--mio-primary), 1);
    /* 主题信息颜色 */
    --hope-colors-info4: rgba(var(--mio-primary), 1);
    /* 主题信息颜色 */
    --hope-colors-info5: rgba(var(--mio-primary50), 1);
    /* 主题信息颜色 */
    --hope-colors-info11: rgba(var(--mio-main), 1);
    /* 基础字体大小 */
    --base-font: 20px;
    /* 公告字体大小 */
    --announce-font: 16px;
    /* 图标字体大小 */
    --icon-font-size: 24px;
  }
  
  body {
    /* 设置全局字体大小 */
    font-size: var(--base-font)!important
  }
  
  div.hope-c-PJLV-iiVJRSE-css,div.hope-c-PJLV-ikSuVsl-css,div.obj-box {
    /* 设置特定元素的字体大小 */
    font-size: calc(var(--base-font)*1.15)!important
  }
  
  div.hope-c-PJLV-ikSuVsl-css>div>div:first-child,div.markdown-body {
    /* 设置Markdown主体和其他特定元素的字体大小和行高 */
    font-size: var(--announce-font)!important;
    line-height: 1.8!important
  }
  
  @media (max-width: 768px) {
    :root {
        /* 在小屏幕设备上调整基础字体大小 */
        --base-font:16px;
        /* 在小屏幕设备上调整公告字体大小 */
        --announce-font: 14px;
        /* 在小屏幕设备上调整图标字体大小 */
        --icon-font-size: 20px;
    }
  }
  
  @font-face {
    /* 自定义字体Yozai */
    font-family: "Yozai";
    src: url(https://cdn.jsdelivr.net/gh/Cyber-HuaTuo/Cloudflare-Pages/alist/index.ttf)format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
  }
  
  *,body {
    /* 设置全局字体系列 */
    font-family: "Yozai",-apple-system,BlinkMacSystemFont,sans-serif!important
  }
  
  button,code,input,pre,select,textarea {
    /* 继承父元素的字体系列 */
    font-family: inherit!important
  }
  
  body::before {
    /* 添加背景图片效果 */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn.jsdelivr.net/gh/Cyber-HuaTuo/Cloudflare-Pages/alist/random-image-desktop.html);
    z-index: 0
  }


  @media screen and (max-width: 960px) {
    body::before {
        /* 小屏幕设备上的背景图片 */
        background-image:url(https://cdn.jsdelivr.net/gh/Cyber-HuaTuo/Cloudflare-Pages/alist/random-image-mobile.html)
    }
  }
  
  body.hope-ui-light::before {
    /* 浅色主题下的背景模糊效果 */
    filter: blur(3px) brightness(.8)
  }
  
  body.hope-ui-dark::before {
    /* 深色主题下的背景模糊效果 */
    filter: blur(3px) brightness(.4)
  }
  
  div#root {
    /* 根容器相对定位 */
    position: relative;
    z-index: 1
  }
  
  div#root div.header,div#root div.header .header-right>button,div#root div.hope-c-PJLV-iiLzBwx-css {
    /* 头部元素背景透明 */
    background: 0 0
  }
  
  div#root div.hope-c-PJLV-iiLzBwx-css header {
    /* 头部背景颜色 */
    background-color: rgba(var(--mio-main),.2)
  }
  
  div.hope-c-PJLV-ibpTetR-css>div:first-child {
    /* 背景颜色 */
    background-color: rgba(var(--mio-main),.2)
  }
  
  div.hope-c-PJLV-ibpTetR-css>div:first-child div.hope-c-PJLV-ibBheSN-css {
    /* 文字颜色 */
    color: var(--mio-main)
  }
  
  div.hope-c-PJLV-ibpTetR-css>div:first-child a.hope-c-PJLV-ikmVjeJ-css {
    /* 链接文字颜色及背景颜色 */
    color: rgba(var(--mio-primary));
    background-color: rgba(var(--mio-primary),.1)
  }
  
  div.hope-c-PJLV-ibpTetR-css>div:first-child .hope-c-PJLV-ijrehjy-css {
    /* 背景颜色 */
    background: rgba(var(--mio-main),.2)
  }
  
  div.hope-c-PJLV-ibpTetR-css>div:first-child .hope-c-PJLV-ikaEncD-css {
    /* 背景颜色 */
    background: rgba(var(--mio-primary),.2)
  }
  
  div.hope-c-PJLV-ibpTetR-css div.hope-c-PJLV-ijycFhp-css div.hope-c-PJLV-iiBrJnl-css,div.hope-c-PJLV-ibpTetR-css div.hope-c-PJLV-ijycFhp-css div.hope-c-PJLV-iiVJRSE-css {
    /* 过渡动画及背景颜色 */
    transition: all .2s ease-in-out;
    background: rgba(var(--mio-main),.2)
  }
  
  div.hope-c-PJLV-ibpTetR-css div.hope-c-PJLV-ijycFhp-css div.hope-c-PJLV-iiBrJnl-css:hover,div.hope-c-PJLV-ibpTetR-css div.hope-c-PJLV-ijycFhp-css div.hope-c-PJLV-iiVJRSE-css:hover {
    /* 悬停时边框颜色变化 */
    border-color: rgba(var(--mio-primary),.8)
  }
  
  .hope-c-kvTTWD-hYRNAb-variant-filled {
    /* 填充变体背景颜色 */
    background-color: rgba(var(--mio-main),.1)
  }
  
  .hope-c-kvTTWD-hYRNAb-variant-filled:focus,.hope-c-kvTTWD-hYRNAb-variant-filled:hover {
    /* 焦点或悬停时背景颜色及边框颜色变化 */
    background-color: rgba(var(--mio-main),.6);
    border-color: rgba(var(--mio-primary),.6)
  }
  
  .hope-c-mHASU-byiOue-variant-filled {
    /* 填充变体文字颜色及背景颜色 */
    color: rgb(var(--mio-primary),.6);
    background-color: rgba(var(--mio-main),.1)
  }
  
  .hope-c-mHASU-byiOue-variant-filled[data-checked] {
    /* 选中状态下的背景颜色 */
    background-color: currentcolor
  }
  
  .hope-c-mHASU-byiOue-variant-filled[data-focus] {
    /* 焦点状态下的阴影及边框颜色 */
    box-shadow: 0 0 0 3px var(--mio-primary);
    border-color: var(--mio-primary)
  }
  
  div#root div.header .header-left {
    /* 左侧头部区域尺寸 */
    width: 40px;
    height: 40px
  }
  
  div#root div.body svg,div#root div.header svg,div.left-toolbar-box div.left-toolbar svg.hope-icon,div.left-toolbar-box svg.hope-icon {
    /* SVG图标颜色及大小 */
    color: rgba(var(--mio-primary));
    font-size: var(--icon-font-size);
  }
  
  div#root div.body {
    /* 最小高度设置 */
    min-height: calc(100vh - 102px)
  }
  
  div#root div.body nav.nav {
    /* 导航栏文字颜色及背景透明 */
    color: #fff;
    background: 0 0
  }
  
  div#root div.body nav.nav::after {
    /* 导航栏伪元素背景颜色 */
    background-color: transparent
  }
  
  div#root div.body div.obj-box {
    /* 对象盒子背景颜色、最小高度、最大高度及滚动条样式 */
    background-color: rgba(var(--mio-main),var(--mio-main-opacity));
    min-height: 300px;
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    background-color: rgba(255,255,255,.58)!important;
    backdrop-filter: blur(5px) brightness(1)
  }
  
  div#root div.body div.obj-box::-webkit-scrollbar {
    /* 滚动条宽度及过渡效果 */
    width: 6px;
    transition: all .3s ease-in-out
  }
  
  div#root div.body div.obj-box::-webkit-scrollbar-thumb {
    /* 滚动条滑块样式 */
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 150ms;
    background: rgba(var(--mio-text),.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,.1)
  }
  
  div#root div.body div.obj-box::-webkit-scrollbar-track {
    /* 滚动条轨道样式 */
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    background: rgba(255,255,255,.05)
  }
  
  div#root div.body div.obj-box::-webkit-scrollbar-thumb:hover {
    /* 滑块悬停时背景颜色变化 */
    background-color: rgba(var(--mio-primary),.5)
  }
  
  div#root div.body .hope-c-PJLV-iiuDLME-css,div#root div.body div.hope-c-PJLV-ikSuVsl-css {
    /* 特定元素背景颜色 */
    background-color: rgba(var(--mio-main),var(--mio-main-opacity));
    background-color: rgba(255,255,255,.58)!important;
    backdrop-filter: blur(5px) brightness(1)
  }
  
  .markdown-body {
    /* Markdown主体字体系列 */
    font-family: "Yozai"!important
  }
  
  .markdown-body>ul>li::marker {
    /* 列表项标记颜色 */
    color: rgba(var(--mio-primary),1)
  }
  
  div#root div.body div.hope-c-PJLV-ieGWMbI-css {
    /* 特定元素背景颜色 */
    background-color: rgba(var(--mio-main),var(--mio-main-opacity))
  }
  
  div#root div.body div.hope-c-PJLV-ieGWMbI-css p.hope-c-PJLV-iZZmce-css {
    /* 特定段落背景颜色 */
    background-color: rgba(var(--mio-primary),.6)
  }
  
  div#root div.body div.hope-c-PJLV-ieGWMbI-css p.hope-c-PJLV-igSqJIB-css {
    /* 特定段落溢出处理 */
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px
  }
  
  div#root div.footer,div.hope-c-PJLV-ibcBsNO-css .hope-c-PJLV-ifJliWT-css,div.hope-c-PJLV-ibcBsNO-css .hope-c-PJLV-igjRXTJ-css,div.hope-c-PJLV-ibcBsNO-css div.hope-c-PJLV-idKXllh-css a {
    /* 隐藏特定元素 */
    display: none
  }
  
  div.center-toolbar,div.left-toolbar-box {
    /* 工具栏层级 */
    z-index: 1
  }
  
  div.left-toolbar-box div.left-toolbar {
    /* 左侧工具栏背景颜色 */
    background-color: rgba(var(--mio-main),.8)
  }
  
  div.left-toolbar-box div.left-toolbar svg.hope-icon:hover,div.left-toolbar-box svg.hope-icon:hover {
    /* 图标悬停时颜色变化 */
    color: #fff;
    background-color: rgba(var(--mio-primary))
  }
  
  div.hope-c-PJLV-ihMpUpe-css {
    /* 特定元素背景颜色 */
    background-color: rgba(var(--mio-primary))!important
  }
  
  div.hope-tooltip {
    /* 提示框文字颜色及背景颜色 */
    color: #fff;
    background-color: rgba(var(--mio-primary),1)
  }
  
  div.hope-spinner {
    /* 加载指示器颜色 */
    color: rgba(var(--mio-primary))
  }
  
  div.hope-menu__content {
    /* 下拉菜单内容背景颜色 */
    background-color: rgba(var(--mio-main),var(--mio-main-opacity))
  }
  
  div.hope-c-XJURY {
    /* 特定元素背景颜色 */
    background: rgba(var(--mio-main),.8)
  }
  
  div.hope-c-PJLV-ibcBsNO-css div.hope-c-PJLV-ibiABng-css,div.hope-c-PJLV-ibcBsNO-css div.hope-c-PJLV-ihWgyFw-css {
    /* 特定元素背景透明 */
    background-color: transparent
  }
  
  div.hope-c-PJLV-ibcBsNO-css .hope-c-PJLV-ifjOQLV-css,div.hope-c-PJLV-ibcBsNO-css div.hope-c-PJLV-iubUra-css {
    /* 特定元素背景颜色 */
    background-color: rgba(var(--mio-main),.5);
    background-color: rgba(255,255,255,.58)!important;
    backdrop-filter: blur(5px) brightness(1)
  }
  
  dibu {
    /* 底部样式 */
    border-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0
  }
  
  .App {
    /* 应用最小高度 */
    min-height: 85vh
  }
  
  .table {
    /* 表格居中显示 */
    margin: auto
  }
  
  :root {
    /* 覆盖之前的字体大小设置 */
    --base-font: 20px;
    --announce-font: 16px;
    --icon-font-size: 24px;
  }
  
  .hope-c-PJLV-ijgzmFG-css{
    /* 特定元素背景颜色 */
    background-color: rgba(255, 255, 255, 0.5)!important;
  }
  